<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="60;url=leaderboard">
  <title>ランキングボード</title>
  <style>
    body{
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color:aliceblue;
      text-align: center;
    }
    h1{
      background: #c2edff;
      padding: 0.5em;
      border-top: solid 5px rgb(25, 29, 255);
      border-bottom: solid 5px rgb(25, 29, 255);
    }
    table{
      margin: auto;
      border: solid 2px;
      border-collapse: collapse;
    }
    th,td{
      padding: 1px 10px;
      border: solid 1px #c64f4f;
    }
    th{
      background-color: #ffd069;
    }
    tr:nth-child(odd) td{
      background-color:rgb(255, 246, 235);
    }
    tr:nth-child(even) td{
      background-color:rgb(255, 230, 200);
    }
    #kosen{
      background-color: chartreuse;
      border: 1px solid chartreuse;
      border-radius: 35px;
      color: black;
      text-decoration: none;
      line-height: 5px;
    }
  </style>
</head>
<body>
  <h1>ランキングボード</h1>
  <div>
    <p>
      <a id="kosen" href="https://www.gifu-nct.ac.jp/">
        岐阜高専
      </a>
      　
      <a id="kosen" href="https://www.gifu-nct.ac.jp/elec/ehome.html">
        電気情報工学科
      </a>
      　
      <a id="kosen" href="https://docs.google.com/forms/d/e/1FAIpQLSe4wxBwTdm_8ke-kDQUkcoeT--rCQTAfWFGlO5E3Mxu2Us4jA/closedform">
        専門店アンケート
      </a>
    </p>
  </div>
  <div>
    <form action="/leaderboard/personal" method="get">
      <label for="id">ID検索:</label>
      <input type="number" id="id" name="id" required>
      <button type="submit">検索</button>
    </form>
  </div>
  <p></p>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>ID</th>
        <th>カーリングシミュレーター</th>
        <th>SAMURAI</th>
        <th>ハンドエアホッケー</th>
        <th>体走</th>
        <th>合計</th>
      </tr>
    </thead>
    <tbody>
      <% let rank = 1; %>

      <% data.forEach((row, index) => { %>
        <% if(index >= 1) { %>
          <% if(data[index].totalscore == data[index-1].totalscore) { %>
            <% //rank = rank; %>
          <% } else { %>
            <% rank = index + 1; %>
          <% } %>
        <% } %>
        <tr>
          <td><%= rank %></td>
          <td><%= row.id %></td>
          <td><%= row.curling == -1 ? '-' : row.curling %></td>
          <td><%= row.fencing == -1 ? '-' : row.fencing %></td>
          <td><%= row.hockey == -1 ? '-' : row.hockey %></td>
          <td><%= row.scrollaction == -1 ? '-' : row.scrollaction %></td>
          <td><%= row.totalscore %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>