<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>個人スコア</title>
  <style>
    body{
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color:aliceblue;
      text-align: center;
    }
    h1{
      background: #c2edff;
      padding: 0.5em;
      border-top: solid 5px rgb(25, 29, 255);
      border-bottom: solid 5px rgb(25, 29, 255);
    }
    table{
      margin: auto;
      border-collapse: separate;
      border-spacing: 5px;
    }
    th,td{
      padding: 5px 10px;
    }
    th{
      text-align: left;
      background-color:rgb(255, 230, 200);
    }
    td{
      background-color:rgb(255, 246, 235);
    }
    .btn{
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      background: #ffffff;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
    }
    .btn:hover{
      background: #67c5ff;
      color: white;
    }
  </style>
</head>
<body>
  <h1>個人スコア</h1>
  <table>
    <tbody>
      <tr>
        <th>ID</th>
        <td><%= data.id %></td>
      </tr>
      <tr>
        <th>カーリングシミュレーター</th>
        <td><%= data.curling == -1 ? '-' : data.curling %></td>
      </tr>
      <tr>
        <th>SAMURAI</th>
        <td><%= data.fencing == -1 ? '-' : data.fencing %></td>
      </tr>
      <tr>
        <th>ハンドエアホッケー</th>
        <td><%= data.hockey == -1 ? '-' : data.hockey %></td>
      </tr>
      <tr>
        <th>体走</th>
        <td><%= data.scrollaction == -1 ? '-' : data.scrollaction %></td>
      </tr>
      <tr>
        <th>合計</th>
        <td><%= data.totalscore %></td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <div>
    <button class="btn" onclick="location.href='/leaderboard'">ランキングボードに戻る</button>
  </div>
</body>
</html>