<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <% if(day == 0) { %>
  <title>個人スコア（総合）</title>
  <% } else if(day == 1) { %>
  <title>個人スコア（1日目）</title>
  <% } else if(day == 2) { %>
  <title>個人スコア（2日目）</title>
  <% } %>
  <style>
    body{
      font-family:"Noto Sans JP", sans-serif;
      margin: 0;
      width: 100vw;
      height: 100vh;
      background-color:aliceblue;
      text-align: center;
    }
    h1{
      background: #c2edff;
      padding: 0.5em;
      border-top: solid 5px rgb(25, 29, 255);
      border-bottom: solid 5px rgb(25, 29, 255);
    }
    table{
      margin: auto;
      border-collapse: separate;
      border-spacing: 5px;
    }
    th,td{
      padding: 5px 10px;
    }
    th{
      text-align: left;
      background-color:rgb(255, 230, 200);
    }
    td{
      background-color:rgb(255, 246, 235);
    }
    .btn{
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      background: #ffffff;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
    }
    .btn:hover{
      background: #67c5ff;
      color: white;
    }
  </style>
</head>
<body>
  <% if(day == 0) { %>
  <h1>個人スコア（総合）</h1>
  <% } else if(day == 1) { %>
  <h1>個人スコア（1日目）</h1>
  <% } else if(day == 2) { %>
  <h1>個人スコア（2日目）</h1>
  <% } %>
  <p style="font-size: large; font-weight: bold;">ID: <%= data.id %> の個人成績</p>
  <table>
    <tbody>
      <tr>
        <th>カーリングシミュレーター</th>
        <td><%= data.curling == -1 ? '-' : data.curling %></td>
        <td><%= rankCurling == -1 ? '-' : rankCurling %>位</td>
      </tr>
      <tr>
        <th>SAMURAI</th>
        <td><%= data.fencing == -1 ? '-' : data.fencing %></td>
        <td><%= rankFencing == -1 ? '-' : rankFencing %>位</td>
      </tr>
      <tr>
        <th>ハンドエアホッケー</th>
        <td><%= data.hockey == -1 ? '-' : data.hockey %></td>
        <td><%= rankHockey == -1 ? '-' : rankHockey%>位</td>
      </tr>
      <tr>
        <th>体走</th>
        <td><%= data.scrollaction == -1 ? '-' : data.scrollaction %></td>
        <td><%= rankScrollaction == -1 ? '-' : rankScrollaction%>位</td>
      </tr>
      <tr>
        <th>合計</th>
        <td><%= data.totalscore %></td>
        <td><%= rankTotal == -1 ? '-' : rankTotal%>位</td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <div>
    <% if(day == 0) { %>
    <button class="btn" onclick="location.href='/leaderboard'">ランキングボード（総合）に戻る</button>
    <% } else if(day == 1) { %>
    <button class="btn" onclick="location.href='/leaderboard?action=day1'">ランキングボード（1日目）に戻る</button>
    <% } else if(day == 2) { %>
    <button class="btn" onclick="location.href='/leaderboard?action=day2'">ランキングボード（2日目）に戻る</button>
    <% } %>
  </div>
</body>
</html>